flickr-image 
    display block
    height 200px
    margin-bottom 20px

    img
        max-height 200px
        cursor pointer
        padding 4px
        &.selected
            border 4px dotted pink
            padding 0px